version: "3.9"

services:

  eureka:
    build:
      context: ./Eureka
      dockerfile: Dockerfile
    image: vishalcr7/eureka-server
    ports:
      - "8761:8761"

  config-server:
    build:
      context: ./ConfigServer
      dockerfile: Dockerfile
    image: vishalcr7/config-server
    depends_on:
      - eureka
    ports:
      - "8888:8888"

  api-gateway:
    build:
      context: ./Gateway
      dockerfile: Dockerfile
    image: vishalcr7/api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - eureka
      - config-server
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/

  user-service:
    build:
      context: ./Fitness
      dockerfile: Dockerfile
    image: vishalcr7/user-service
    depends_on:
      - eureka
      - postgres
      - config-server
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888

  activity-service:
    build:
      context: ./ActivityService
      dockerfile: Dockerfile
    image: vishalcr7/activity-service
    depends_on:
      - eureka
      - mongo
      - config-server
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888

  ai-service:
    build:
      context: ./AiService
      dockerfile: Dockerfile
    image: vishalcr7/ai-service
    depends_on:
      - eureka
      - mongo
      - config-server
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: fitness_user_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  mongo:
    image: mongo:7

  keycloak:
    image: quay.io/keycloak/keycloak:26.5.2
    command: start-dev
    ports:
      - "8181:8080"
