services:
  - type: web
    name: eureka-server
    runtime: image
    image:
      url: vishalcr7/eureka-server
    plan: free

  - type: web
    name: config-server
    runtime: image
    image:
      url: vishalcr7/config-server
    plan: free
    envVars:
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: https://eureka-server-7v08.onrender.com/eureka/

  - type: web
    name: api-gateway
    runtime: image
    image:
      url: vishalcr7/api-gateway
    plan: free
    envVars:
      - key: SPRING_CONFIG_IMPORT
        value: optional:configserver:https://config-server-j809.onrender.com
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: https://eureka-server-7v08.onrender.com/eureka/
      - key: FRONTEND_URL
        sync: false
      - key: KEYCLOAK_URL
        value: https://keycloak-0ge5.onrender.com

  - type: web
    name: user-service
    runtime: image
    image:
      url: vishalcr7/user-service
    plan: free
    envVars:
      - key: SPRING_CONFIG_IMPORT
        value: optional:configserver:https://config-server-j809.onrender.com
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: https://eureka-server-7v08.onrender.com/eureka/
      - key: DATASOURCE_URL
        fromDatabase:
          name: fitness_user_db
          property: connectionString
      - key: DATASOURCE_USER
        fromDatabase:
          name: fitness_user_db
          property: user
      - key: DATASOURCE_PASSWORD
        fromDatabase:
          name: fitness_user_db
          property: password

  - type: web
    name: activity-service
    runtime: image
    image:
      url: vishalcr7/activity-service
    plan: free
    envVars:
      - key: SPRING_CONFIG_IMPORT
        value: optional:configserver:https://config-server-j809.onrender.com
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: https://eureka-server-7v08.onrender.com/eureka/
      - key: MONGODB_URI
        sync: false
      - key: RABBITMQ_HOST
        sync: false
      - key: RABBITMQ_USERNAME
        sync: false
      - key: RABBITMQ_PASSWORD
        sync: false

  - type: web
    name: ai-service
    runtime: image
    image:
      url: vishalcr7/ai-service
    plan: free
    envVars:
      - key: SPRING_CONFIG_IMPORT
        value: optional:configserver:https://config-server-j809.onrender.com
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: https://eureka-server-7v08.onrender.com/eureka/
      - key: MONGODB_URI
        sync: false
      - key: GEMINI_API_KEY
        sync: false

  - type: web
    name: keycloak
    runtime: image
    image:
      url: quay.io/keycloak/keycloak:26.5.2
    plan: free
    startCommand: start-dev
    envVars:
      - key: KC_BOOTSTRAP_ADMIN_USERNAME
        value: admin
      - key: KC_BOOTSTRAP_ADMIN_PASSWORD
        value: admin
      - key: KC_HTTP_ENABLED
        value: "true"
      - key: KC_HOSTNAME
        value: keycloak-0ge5.onrender.com
      - key: KC_PROXY
        value: edge

databases:
  - name: fitness_user_db
    plan: free
