services:
  - type: web
    name: eureka-server
    runtime: image
    image:
      url: vishalcr7/eureka-server
    plan: free

  - type: web
    name: config-server
    runtime: image
    image:
      url: vishalcr7/config-server
    plan: free
    envVars:
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: https://eureka-server-7v08.onrender.com/eureka/

  - type: web
    name: api-gateway
    runtime: image
    image:
      url: vishalcr7/api-gateway
    plan: free
    envVars:
      - key: SPRING_CONFIG_IMPORT
        value: optional:configserver:https://config-server-j809.onrender.com
      - key: SPRING_CLOUD_CONFIG_NAME
        value: api-gateway
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: https://eureka-server-7v08.onrender.com/eureka/
      - key: EUREKA_URL
        value: https://eureka-server-7v08.onrender.com/eureka/
      - key: FRONTEND_URL
        sync: false
      - key: KEYCLOAK_URL
        value: https://keycloak-0ge5.onrender.com

  - type: web
    name: user-service
    runtime: image
    image:
      url: vishalcr7/user-service
    plan: free
    envVars:
      - key: SPRING_CONFIG_IMPORT
        value: optional:configserver:https://config-server-j809.onrender.com
      - key: SPRING_CLOUD_CONFIG_NAME
        value: user-service
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: https://eureka-server-7v08.onrender.com/eureka/
      - key: EUREKA_URL
        value: https://eureka-server-7v08.onrender.com/eureka/
      - key: DB_HOST
        fromDatabase:
          name: fitness_user_db
          property: host
      - key: DB_PORT
        fromDatabase:
          name: fitness_user_db
          property: port
      - key: DB_NAME
        fromDatabase:
          name: fitness_user_db
          property: database
      - key: SPRING_DATASOURCE_URL
        value: jdbc:postgresql://$(DB_HOST):$(DB_PORT)/$(DB_NAME)
      - key: SPRING_DATASOURCE_USERNAME
        fromDatabase:
          name: fitness_user_db
          property: user
      - key: SPRING_DATASOURCE_PASSWORD
        fromDatabase:
          name: fitness_user_db
          property: password

  - type: web
    name: activity-service
    runtime: image
    image:
      url: vishalcr7/activity-service
    plan: free
    envVars:
      - key: SPRING_CONFIG_IMPORT
        value: optional:configserver:https://config-server-j809.onrender.com
      - key: SPRING_CLOUD_CONFIG_NAME
        value: activity-service
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: https://eureka-server-7v08.onrender.com/eureka/
      - key: MONGODB_URI
        sync: false
      - key: RABBITMQ_HOST
        sync: false
      - key: RABBITMQ_USERNAME
        sync: false
      - key: RABBITMQ_PASSWORD
        sync: false
      - key: RABBITMQ_VHOST
        sync: false

  - type: web
    name: ai-service
    runtime: image
    image:
      url: vishalcr7/ai-service
    plan: free
    envVars:
      - key: SPRING_CONFIG_IMPORT
        value: optional:configserver:https://config-server-j809.onrender.com
      - key: SPRING_CLOUD_CONFIG_NAME
        value: ai-service
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: https://eureka-server-7v08.onrender.com/eureka/
      - key: EUREKA_URL
        value: https://eureka-server-7v08.onrender.com/eureka/
      - key: MONGODB_URI
        sync: false
      - key: RABBITMQ_HOST
        sync: false
      - key: RABBITMQ_USERNAME
        sync: false
      - key: RABBITMQ_PASSWORD
        sync: false
      - key: RABBITMQ_VHOST
        sync: false
      - key: GEMINI_API_URL
        value: https://generativelanguage.googleapis.com
      - key: GEMINI_API_KEY
        sync: false
        
  - type: web
    name: keycloak
    runtime: image
    image:
      url: quay.io/keycloak/keycloak:26.5.2
    plan: free
    startCommand: start-dev
    envVars:
      - key: KC_BOOTSTRAP_ADMIN_USERNAME
        value: admin
      - key: KC_BOOTSTRAP_ADMIN_PASSWORD
        value: admin
      - key: KC_HTTP_ENABLED
        value: "true"
      - key: KC_HOSTNAME
        value: keycloak-0ge5.onrender.com
      - key: KC_HOSTNAME_STRICT
        value: "false"
      - key: KC_PROXY
        value: edge
      - key: KC_HTTP_PORT
        value: "10000"


databases:
  - name: fitness_user_db
    plan: free
