#spring.application.name=AiService

server:
  port: ${PORT:8083}

spring:
  application:
    name: AI-SERVICE
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/fitness-recommendation}
      database: fitness-recommendation
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    virtual-host: ${RABBITMQ_VHOST}

#eureka:
#  client:
#    register-with-eureka: true
#    fetch-registry: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka/
#  instance:
#    prefer-ip-address: true
#    hostname: localhost

gemini:
  api:
    url: ${GEMINI_API_URL}
    key: ${GEMINI_API_KEY}


rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    name: activity.queue
  routing:
    key: activity.tracking


eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
