server:
  port: 8081

spring:
  application:
    name: USER-SERVICE

  datasource:
    url: ${DATASOURCE_URL:jdbc:postgresql://localhost:5432/fitness_user_db}
    username: ${DATASOURCE_USER:postgres}
    password: ${DATASOURCE_PASSWORD:Vishal@07}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

#eureka:
#  client:
#    register-with-eureka: true
#    fetch-registry: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka/
#  instance:
#    prefer-ip-address: true

eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}


