
spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      enabled: false  # Stop Config Server from being a client of itself
      server:
        native:
          search-locations: classpath:/config


server:
  port: 8888